@import './variables.scss';

@mixin box-shadow() {
  box-shadow: $shadow;
}

@mixin bottom-border-radius() {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

@mixin top-border-radius() {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}
