@import './variables.scss';

@mixin box-shadow() {
  box-shadow: $shadow;
}

@mixin bottom-border-radius() {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

@mixin top-border-radius() {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

@mixin list-animations {
  .list-move,
  .list-enter-active,
  .list-leave-active {
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  }

  .list-enter-from,
  .list-leave-to {
    opacity: 0;
    transform: scaleY(0.01) translate(30px, 0);
  }

  .list-leave-active {
    position: absolute;
  }
}
