$shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

$border-radius: 0.4em;
$padding: 0.625em;

$green-color: rgb(45 255 126);
$list-container-color: rgb(241 241 241);
$white-color: rgb(255 255 255);
$purple-color: rgb(80, 64, 161);

$larger-text: 1.3em;
